.detail-room-page {
  .carousel {
    display: flex;
    justify-content: center;

    .ant-carousel {
      max-width: 1000px;
    }
  }

  @media (max-width: 1175px) {
    .carousel {
      display: block;
    }
  }
}
